.primary-color-master {
  color: $primary-color-master;
}
.primary-color-second {
  color: $primary-color-second;
}
.primary-color-success {
  color: $primary-color-success;
}
.primary-color-danger {
  color: $primary-color-danger;
}

.light {
  color: $basic-color-light;
}
.light-opacity {
  opacity: 0.6;
  color: $basic-color-light;
}
.dark {
  color: $basic-color-dark;
}

.yellow-100 {
  color: $yellow-100;
}
.yellow-200 {
  color: $yellow-200;
}
.yellow-300 {
  color: $yellow-300;
}
.yellow-400 {
  color: $yellow-400;
}
.yellow-500 {
  color: $yellow-500;
}
.yellow-600 {
  color: $yellow-600;
}
.yellow-700 {
  color: $yellow-700;
}
.yellow-800 {
  color: $yellow-800;
}
.yellow-900 {
  color: $yellow-900;
}

.blue-100 {
  color: $blue-100;
}
.blue-200 {
  color: $blue-200;
}
.blue-300 {
  color: $blue-300;
}
.blue-400 {
  color: $blue-400;
}
.blue-500 {
  color: $blue-500;
}
.blue-600 {
  color: $blue-600;
}
.blue-700 {
  color: $blue-700;
}
.blue-800 {
  color: $blue-800;
}

.green-100 {
  color: $green-100;
}
.green-200 {
  color: $green-200;
}
.green-300 {
  color: $green-300;
}
.green-400 {
  color: $green-400;
}
.green-500 {
  color: $green-500;
}
.green-600 {
  color: $green-600;
}
.green-700 {
  color: $green-700;
}
.green-800 {
  color: $green-800;
}
.green-900 {
  color: $green-900;
}

.red-100 {
  color: $red-100;
}
.red-200 {
  color: $red-200;
}
.red-300 {
  color: $red-300;
}
.red-400 {
  color: $red-400;
}
.red-500 {
  color: $red-500;
}
.red-600 {
  color: $red-600;
}
.red-700 {
  color: $red-700;
}
.red-800 {
  color: $red-800;
}
.red-900 {
  color: $red-900;
}

.gray-100 {
  color: $gray-100;
}
.gray-200 {
  color: $gray-200;
}
.gray-300 {
  color: $gray-300;
}
.gray-400 {
  color: $gray-400;
}
.gray-500 {
  color: $gray-500;
}
.gray-600 {
  color: $gray-600;
}
.gray-700 {
  color: $gray-700;
}
.gray-800 {
  color: $gray-800;
}
.gray-900 {
  color: $gray-900;
}
