$primary-color-master: #FFCE65;
$primary-color-second: #F07E3F;

$primary-color-success: #92FF6B;
$primary-color-danger: #FF2F12;

$basic-color-light: #F2EADF;
$basic-color-dark: #111C26;
$basic-color-hover: #08111A;

$gradient-color-primary:linear-gradient(90deg, #F07E3F 0%, #FFCE65 100%);
$gradient-color-second:linear-gradient(72.79deg, #9CF294 7.07%, #4EC484 94.17%);

$yellow-100: #986800;
$yellow-200: #B17900;
$yellow-300: #CB8A00;
$yellow-400: #E49C00;
$yellow-500: #FEAD00;
$yellow-600: #FFBE32;
$yellow-700: #FFCE65;
$yellow-800: #FFDD93;
$yellow-900: #FFEBC1;

$blue-100: #213649;
$blue-200: #31506C;
$blue-300: #406A90;
$blue-400: #4877A1;
$blue-500: #5284B1;
$blue-600: #6390B9;

$green-100: #248A00;
$green-200: #2CA600;
$green-300: #33C200;
$green-400: #3ADE00;
$green-500: #42FA00;
$green-600: #69FF33;
$green-700: #92FF6B;
$green-800: #B8FF9E;
$green-900: #DDFFD1;

$red-100: #CC1900;
$red-200: #E31B00;
$red-300: #FF2F12;
$red-400: #FF5740;
$red-500: #FF7B69;
$red-600: #FF9F92;
$red-700: #FFC3BA;
$red-800: #FFD5CF;
$red-900: #FFE7E3;

$gray-100: #524F44;
$gray-200: #625E51;
$gray-300: #716D5E;
$gray-400: #807C6B;
$gray-500: #9C9787;
$gray-600: #B5B2A6;
$gray-700: #CCCAC2;
$gray-800: #E3E2DE;
$gray-900: #FAFAFA;