@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4o8n0x');
  src:  url('fonts/icomoon.eot?4o8n0x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4o8n0x') format('truetype'),
    url('fonts/icomoon.woff?4o8n0x') format('woff'),
    url('fonts/icomoon.svg?4o8n0x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marker_circle:before {
  content: "\e915";
}
.icon-marker_bubble:before {
  content: "\e916";
}
.icon-bike:before {
  content: "\e900";
}
.icon-bottom:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e902";
}
.icon-route:before {
  content: "\e903";
}
.icon-setting:before {
  content: "\e904";
}
.icon-top:before {
  content: "\e905";
}
.icon-address:before {
  content: "\e906";
}
.icon-attraction:before {
  content: "\e907";
}
.icon-back:before {
  content: "\e908";
}
.icon-closed:before {
  content: "\e909";
}
.icon-mark:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-position:before {
  content: "\e90c";
}
.icon-remove:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-station:before {
  content: "\e90f";
}
.icon-tome:before {
  content: "\e910";
}
.icon-update:before {
  content: "\e911";
}
.icon-web:before {
  content: "\e912";
}
.icon-zoom_in:before {
  content: "\e913";
}
.icon-zoomout:before {
  content: "\e914";
}
